<div>
  <p>【メールアドレス】 <%= food.user.email %></p>
  <p>【食品名】 <%= food.name %></p>
  <p id="food-<%= food.id %>">
    <% if food.liked_by?(current_user) %>
      <%= render "like", food: food %>
    <% else %>
      <%= render "dislike", food: food %>
    <% end %>
  </p>
  <p>
    <%= link_to "詳細", food %>
    <% if current_user.id == food.user_id %>
      <%= link_to "編集", edit_food_path(food) %>
      <%= link_to "削除", food_path(food), method: :delete, data: { confirm: "削除しますか？" } %>
    <% end %>
  </p>
</div>
<p><%= link_to "投稿一覧へ", foods_path %></p>
<hr>
